<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">    
      </li>
    </ul>
    <span class="navbar-text">
      Online: 
<span id="status"class="dot"></span></a>
    </span>
  </div>
</nav>
-->


<nav id="navbar" class="navbar fixed-top navbar-light bg-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"  href="#Home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Purpose">Purpose</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Definitions">Definitions</a>
    </li>
    <li class="nav-item">
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Technical</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="https://github.com/EdwardDeaver/SyracuseInnovationLEDProject">Code</a>
        <a class="dropdown-item" href="#">Read the docs</a>
      </div>
    </li>
  </ul>
  <span class="navbar-text">
      <a class="nav-link">Online Status: <span id="status"class="dot"></span></a>
  </span>
</nav>    
